.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.home-destinations {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.home-video-details {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 900px;
  margin-top: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-header {
  color: rgb(53, 43, 42);
  font-size: 60px;
  font-style: normal;
  text-align: center;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 60px;
}
.home-video-wrapper {
  width: 100%;
  cursor: pointer;
  height: 100%;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
}
.home-video-wrapper:hover {
  opacity: 0.75;
}
.home-tint {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}
.home-image {
  width: 115px;
  object-fit: cover;
}
.home-video {
  width: 100%;
}
.home-caption {
  font-size: 24px;
  max-width: 900px;
  text-align: center;
  line-height: 36px;
}
@media(max-width: 767px) {
  .home-destinations {
    gap: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading {
    gap: var(--dl-space-space-unit);
  }
  .home-header {
    font-size: 32px;
    line-height: 31px;
  }
  .home-caption {
    font-size: 18px;
    line-height: 27px;
  }
}
